*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/
/data/checklist_data/build/
/data/checklist_data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/domain/checklist_domain/build/
/domain/checklist_domain/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/domain/entities/build/
/domain/entities/build/classes/kotlin/main/
/presentation/checklist_presentation/build/
/presentation/checklist_presentation/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/